@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-primary: #3983C7;
  --color-headings: #172541;
  --color-navbar: #143254;
  --color-body-text: #000000;
  --color-page-body: #FFFFFF;


  --font-family-primary: var(--primaryfont);

}

/* Size of the Container */
@utility container {
  @apply mx-auto px-3.75 max-w-[1280px];
}

@utility font-primary {
  font-family: var(--primaryfont);
}


/* Body Style */
@layer base {
  body {
    @apply font-primary text-body-text bg-page-body leading-[1.7] min-w-[320px];
  }
}

/* Custom animations */
@layer utilities {
  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.95);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fadeInScale {
    animation: fadeInScale 0.3s ease-out;
  }
}