@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-primary: #34a8eb;


    --font-family-primary: var(--primaryfont);

}

/* Size of the Container */
@utility container {
  @apply mx-auto px-3.75 max-w-[1280px];
}

@utility font-primary {
  font-family: var(--primaryfont);
}


/* Body Style */
@layer base {
  body {
    @apply font-primary leading-[1.7];
  }
}

