@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-primary: #34a8eb;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-white text-gray-900;
  }
}