@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-primary: #34a8eb;
  --color-headings: #172541;
  --color-navbar: #143254;
  --color-body-text: #000000;
  --color-page-body: #FFFFFF;


    --font-family-primary: var(--primaryfont);

}

/* Size of the Container */
@utility container {
  @apply mx-auto px-3.75 max-w-[1280px];
}

@utility font-primary {
  font-family: var(--primaryfont);
}


/* Body Style */
@layer base {
  body {
    @apply font-primary text-body-text bg-page-body leading-[1.7];
  }
}

